:root {
    --text-color: #201d1a;
    --link-color: #000000;
    --background-color: #eeeff1;
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  html {
    scroll-behavior: smooth;
}
  body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
      
}
  a {
    color: var(--link-color);

    text-decoration: none;
}
  
  /* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
    text-align: left;
}


  nav .left a {
        display: flex;
        align-items: center; 
        gap: 10px; 
        text-decoration: none; 
      }
      
  nav .left a i {
        font-size: 24px; 
        color: #000000; 
      }
      
  nav .left a span {
        font-size: 24px; 
        font-weight: bold; 
        color: #000000; 
      }
     
      nav .right a {
        color: var(--text-color);
        margin: 0 10px;
        font-size: bolder;
        font-weight: bolder;
      }
      
nav .right a:last-child {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
}

nav .right a span {
  margin-left: 5px;
}

/* SECTION 1: Introduction */
.Introduction {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}
  .Introduction .text {
    flex: 5;
}
  .Introduction .text h2 {
    font-size: 35px;
    
}
.Introduction .text  p {
  font-size: 18px; /* Adjust the font size */
  line-height: 1.6; /* Set the line height for readability */
  text-align: justify; /* Justify the text for a clean alignment */
  color: #000000; /* Set the text color */
  margin-bottom: 20px; /* Space below the paragraph */
}
  .Introduction .text .links {
    margin-top: 25px;
}
  .Introduction .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

  .Introduction .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

  .Introduction .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}
  
  .Introduction .headshot img {
    width: 280px;
    border-radius: 50%;
}

/* SECTION 2: Skills */
.Skills {
    padding: 0 50px;
    margin-bottom: 100px;
  }
  .Skills h2 {
    text-align: left;
    font-size: 35px;
    
  }
   
  .Skills .text {
    font-size: 18px; /* Adjust the font size */
    line-height: 1.6; /* Set the line height for readability */
    text-align: justify; /* Justify the text for a clean alignment */
    color: #000000; /* Set the text color */
    margin-bottom: 20px; 
  }

  .Skills .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .Skills .cells .cell {
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
  }



  .Skills.cells .cell img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
  }

  .Skills.cells .cell span {
    font-size: 18px;
  }


/* SECTION 3: Projects */
.Projects {
  padding: 0 50px;
  margin-bottom: 100px;
}
.Projects h2 {
  text-align: left;
  font-size: 35px;
}
 
.Projects .text {
  
  font-size: 18px; /* Adjust the font size */
  line-height: 1.6; /* Set the line height for readability */
  text-align: justify; /* Justify the text for a clean alignment */
  color: #000000; /* Set the text color */
  margin-bottom: 20px; 
}
 

.Projects .group {
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.Projects .group {
  display: grid;
  align-items: left;
  justify-content: left;
  gap: 10px;
  flex-wrap: wrap;
}



.Projects .group .projectdetails {
  display: grid; 
  align-items: center; 
  gap: 10px;
  width: auto; 
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  white-space: nowrap; 
}

.Projects .group .projectdetails img {
  width: 30px; 
  height: auto; 
  border-radius: 5px;
}

.Projects .group .projectdetails .text {
  font-size: 15px; 
  white-space: nowrap; 
  display: grid; 
  align-items: center; 
}
/* SECTION 4: Contact */

#Contact {
  padding: 50px; 
}
.Contact h2 {
  text-align: left;
  margin-bottom: 30px;
  font-size: 35px; 
  color: #000000; 
}

.splitcontact {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
}


.splitcontact section {
  display: flex;
  
  align-items: center;
  gap: 15px; 
  padding: 10px;
  border-radius: 5px;
}
.splitcontact section i {
  font-size: 24px; 
  color: #000000; 
}

.splitcontact section h3 {
  font-size: 20px; 
  margin: 0; 
}

.splitcontact section p {
  margin: 0; 
  font-size: 16px; 
}

.splitcontact.alt section a {
  text-decoration: none; 
  color: #000000; 
}


@media (max-width: 850px) {
    /* SECTION 1: Introduction */
    .Introduction .text h2 {
      font-size: 35px;
    }
  }
  
  @media (max-width: 740px) {
    /* SECTION 1: Introduction */
    .Introduction {
      flex-direction: column-reverse;
    }
  
    .Introduction .headshot img {
      width: 300px;
    }
  }

 /* SECTION 3: Testimony */
 .Projects{
  text-align: left;
}

.Projects .group {
  flex-direction: column;
}

/* SECTION 4: Contact */
  .Contact .splitcontact {
    flex-direction: column;
  }


@media (max-width: 600px) {
    /* NAVBAR */
nav {
      padding: 0 20px;
}
nav .right a{
font-size: 22px ;
}

nav .right a:last-child {
color: var(--text-color);
background-color: transparent;
padding: 0;
  
}
    
nav .right a span {
    display: none;
}
  /* SECTION 1: Introdcution */
  .Introduction{
    padding: 0 20px;
  }

  .Introduction.text h2 {
    font-size: 30px;
  }

  /* SECTION 2: Skills */
  .Skills {
    padding: 0 20px;
  }

  .Skills .cells .cell span {
    font-size: 16px;
  }


    /* SECTION 3: Projects */
    .Projects {
      padding: 0 20px;
    }
    .Projects.text h2 {
      font-size: 30px;
    }
    .Projects .cells .cell span {
      font-size: 16px;
    }


 /* SECTION 4: Contact */
 .Contact {
  padding: 0 20px;

}
.Contact.splitcontact {
font-size: 30px;

} 
}  